<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <p>{{ signedUrl }}</p>
    <p>{{ symfonyurl }}</p>
    <p>user id : {{ userid }}</p>
    <p>user email :{{ useremail }}</p>


    </body>
</html>